<h1>Crear Libro</h1>

<fieldset>
<span><label for="nombre">nombre</label><input type="text" id="nombre" /></span><br/>
<span><label for="autor">autor</label><input type="text" id="autor"  /></span><br/>
<span><label for="argumento">argumento</label><input type="text" id="argumento" /></span><br/>
<span><label for="paginas">paginas</label><input type="text" id="paginas"  /></span><br/>
<button id="saveBook" style="padding: 2px; border: 1px solid black; ">
    Guardar
</button>
</fieldset>

