<link rel="stylesheet" href="./resources/css/table.css">
<link rel="stylesheet" href="./resources/css/button.css">
<h1>List Books</h1>
<br/>
<div class="CSSTableGenerator" >
	<table >
			<tr>
				<td>Nombre</td>
				<td>Autor</td>
				<td>Serie</td>
				<td></td>
				<td></td>
			</tr>
			<% _.each(books, function(book){ %>
				<tr>
					<td><%= book.attributes.nombre%></td>
					<td><%= book.attributes.autor%></td>
					<td><%= book.attributes.serie%></td>
					<td><button class="btnEditBook button" data-idbook="<%= book.attributes.id %>">Ver Detalle</button></td>
					<td><button class="btnDeleteBook button" data-idbook="<%= book.attributes.id %>">Borrar</button></td>
				</tr>
			<%});%>
	</table>
</div>
<br/><br/>
<div id="addBook" class="button">Crear Libro</div>